* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Montserrat';
}

.container {
    height: 94vh;
    width: 90%;
    background: #791d7c;
    margin: 30px auto;
    box-shadow: -10px 10px 20px 10px #8b6399;
    padding: 10px;
    border-radius: 20px;
}

 h1 {
    color: #ece7e7;
    font-weight: 350;
    text-align: center;
    margin: 20px auto;
    box-shadow: -4px 4px 15px 4px #51205c;
    border-radius: 12px;
    width: 80%;
    padding: 10px;
}

.gallery::before {
    background: #ece7e7;
    box-shadow: -2px 2px 15px 4px #51205c;
    width: 100%;
    content: '';
    height: 6px;
    margin-top: 5px;
    margin-bottom: 15px;
    display: block;
    border-radius: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery img {   
    width: 0;
    height: 250px;
    flex-basis: 26%;
    margin: 15px 0;
    object-fit: cover;
    box-shadow: -6px 6px 15px 4px #300c38;
    border-radius: 10px 80px 10px 80px;
    transition: 650ms;
    opacity: .8;
}

.gallery img:hover {   
    box-shadow: -10px 10px 15px 4px #0d0d0e;
    cursor: pointer;
    opacity: 1;
}

@media screen and (max-width: 800px) {
    .container {
        height: 100%;
    }
    .gallery img {
        flex-basis: 40%;
    }
}

@media screen and (max-width: 340px) {
    .container {
        height: 100%;
    }
    .gallery img {
        flex-basis: 80%;
    }
}